/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Lists
	#Images
	#Links
	#Visuals


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
		body {
			line-height: 1; }
			ol, ul {
				list-style: none; }
				blockquote, q {
					quotes: none; }
					blockquote:before, blockquote:after,
					q:before, q:after {
						content: '';
						content: none; }
						table {
							border-collapse: collapse;
							border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 28px; margin-bottom: 14px; font-weight: 500;}
	h2 { font-size: 22px; margin-bottom: 10px; font-weight: 300;}
	h3 { font-size: 18px; margin-bottom: 8px; font-weight: 300;}
	h4 { font-size: 16px; margin-bottom: 4px; font-weight: 300;}
	h5 { font-size: 12px; font-weight: 300;}
	h6 { font-size: 10px; font-weight: 300;}

/* #Lists
================================================== */
ul, ol { 
	margin-bottom: 20px; 
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul li, ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }

/* #Images
================================================== */
img {
	max-width: 175px;
}

img.scale-with-grid {
	max-width: 100%;
	height: auto; 
}

.img-circle{
	border-radius: 50%;
}

/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: none; outline: 0; border-bottom: 1px dotted}
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }

/* #Layout
================================================== */

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height:100vh;
}
.section {
	margin-top: 50px;
	margin-bottom: 50px;
}
.section {
	margin:50px;
}

.content {
	padding:50px 0 50px 0;
}

.content .section {
	margin:20px 0px;
}


.content .section h2 {
	padding-top: 20px;
}


