.twelve.columns.footer
  %footer.branding
    %p
      = succeed " : " do
        %a(href="/articles")articles
      = succeed " : " do
        %a(href="/about")about
      = succeed " : " do
        %a(href="/contact")contact
      %a(href="/articles.xml")feed
