.twelve.columns.footer
  %footer.branding
    %p
      = succeed " : " do
        %a(href="/")courses
      = succeed " : " do
        %a(href="/contact")contact    
      %a(href="/articles.xml")feed
